{% extends 'base.html' %}

{% block title %}Add New Task{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Add New Task</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Add Task</button>
                 <!-- Кнопка для отмены действия (не отправляет форму) -->
            <button type="button" class="btn btn-cancel" onclick="window.location.href='{% url 'task_list' %}'">
                Отменить
            </button>
            </form>
        </div>
    </div>
{% endblock %}
